/* Menu Item */
.card-img {
  opacity: 0.8;
  max-height: 280px;
}
.card-wrapper > .card-item {
  max-height: 300px;
  width: 405px;
}
.card-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.dish-name {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(5, 5, 5);
}
.card-body {
  cursor: pointer;
}
.nav-item {
  display: flex;
}

.footer {
  background-color: rgb(53, 54, 54);
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer p {
  color: rgb(215, 218, 222);
  text-align: center;
  padding-top: 10px;
}
